

/*******************************************************************
*?                    Signup Section
** ****************************************************************/
.signup-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)
    ),url(../../assets/img/first.jpg);
    background-size: cover;
}

.our-services{
    background-color: #a0e8af;;
}

.title{
    color: #edead0;
}

.subtitle{
    color: #a0e8af;
}

.content{
    color: #edead0;
}

.card{
    background: linear-gradient(rgba(256, 256, 256, 0.1),rgba(0, 0, 0, 0.4));
}

/*******************************************************************
*?                    Service Section
** ****************************************************************/

.service-text{
    color: #3ab795;
}

.service-content{
    color: rgb(58, 170, 149)
}