
.navbar-div{
    background-color: #3ab795;
    margin-bottom: 0%;
}

.nav-button{
    font-size: 120%;
    color: #edead0;
}

.nav-button:hover{
    color: #ffcf56;
}

.Home{
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    float: left;
}

.Clients{
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    float: right;
}

.Companies{
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    float: right;
}
