
.navbar-div{
    background-color: #3ab795;
    margin-bottom: 0%;
}

.nav-link{
    font-size: 120%;
    color: #edead0;
}

.nav-link:hover{
    color: #ffcf56;
}

.nav-button:hover{
    background-color: #edead0;
    color: #3ab795;
}